.dashbord_topbar_wrapper .right_searchItem {
  padding-right: 16px;
  border: 6px solid #fff;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 6px 0px 40.8px 4px rgba(112, 144, 176, 0.08);
}

.dashbord_topbar_wrapper .right_searchItem .userprofile h2 {
  color: #151D48;
  font-size: 14px;
  font-weight: 500;
}

.dashbord_topbar_wrapper .right_searchItem .userprofile p {
  color: #737791;
  font-size: 10px;
  font-weight: 400;
}

.addPlayer {
  color: #8593BC;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
  background: var(--White, #FFF);
  box-shadow: 6px -2px 39.9px 4px rgba(86, 95, 104, 0.08);
  padding: 12px 20px;
}

.addPlayer .add_icon {
  background-color: #F4F7FE;
  padding: 5px;
  border-radius: 12px;
}


.dashbord_topbar_wrapper #search_input {
  background-image: url('../../../assets/search-icon.svg');
  background-repeat: no-repeat;
  padding: 10px 40px 10px;
  background-position: left 20px center;
  border: none;
  background-color: #F4F7FE;
  border-radius: 50px;
}

.dashbord_topbar {
  padding: 24px 40px 24px 30px;
  border-bottom: 1px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .filter_btn {
  padding: 10px 14px;
  border-radius: 8px;
  border: 2px solid var(--color_f1);
}

.dashbord_topbar .dashbord_topbar_button .add_btn {
  padding: 10px 14px;
  border-radius: 8px;
  border: 2px solid var(--color_fb);
}

.dashbord_topbar {
  /* position: fixed; */
  width: inherit;
  background-color: white;
  z-index: 99;
}

.job_title_mobile {
  text-align: center;
  /* margin-top: 30px; */
}

.topbar_desk {
  display: block !important;
}

.topbar_mobile {
  display: none !important;
}

.mobile_topbar {
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: #fff;
  box-shadow: 0px -8px 40px 0px rgba(0, 0, 0, 0.02);
}

.mobile_topbar {
  position: fixed;
  width: inherit;
  background-color: white;
  z-index: 100000;
  bottom: 0;
  left: 0;
  right: 0;
}

.position_static {
  position: static !important;
  width: 100% !important;
}

.mobileTopbar a {
  color: #232627;
}

/* .dashbord_content {
  margin-bottom: 70px;
} */

.mobile_topbar p {
  color: #a5b4cb;
  font-family: "SF Pro Display", sans-serif;
  font-size: 11.378px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mobileTopbar {
  display: none !important;
}

@media (max-width: 1024px) {
  .deskTopbar {
    display: none;
  }

  .mobileTopbar {
    display: block !important;
  }
}

@media (max-width: 768px) {

  /*   .deskTopbar {
        display: none;
    }

    .mobileTopbar {
        display: block !important;
    }
 */
  .dashbord_topbar .dashbord_topbar_button .add_btn {
    padding: 10px 14px;
    border-radius: 0px !important;
    border: none !important;
  }

  /* .dashbord_topbar {
    padding: 24px 40px 24px 30px;
    border-bottom: 0 !important;
    position: relative !important;
  } */

  .dashbord_content {
    /* margin-top: 32px !important; */
    padding-top: 0px !important;
  }

  .topbar_desk {
    display: none !important;
  }

  .topbar_mobile {
    display: block !important;
  }
}

/* filter_wrapper start */
.filter_wrapper {
  padding: 25px 32px !important;
  position: absolute;
  border-radius: 11px;
  background: #fff;
  box-shadow: 5px 10px 50px -2px rgba(0, 0, 0, 0.15);
  max-width: 524px;
  width: 100%;
  right: 2.5%;
  top: 86%;
}

.filter_wrapper .postion_wrapper .position_btn_wrapper {
  display: flex;
  gap: 15px;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper button {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(84, 173, 150, 0.20);
  background: #FFF;
  transition: all linear 0.2s;
}

.filter_wrapper button {
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(84, 173, 150, 0.20);
  background: #FFF;
  transition: all linear 0.2s;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper button:hover {
  border: 1px solid #05CD99;
  background: #05CD99;
  color: white;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper.status button:hover {
  border: 1px solid transparent;
  background: #FFC628;
  color: white;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper.location select option {
  color: #8593BC;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper.age input {
  background-color: #F4F7FE;
  border: 0;
  padding: 14px 23px;
  width: 160px;
}

/* .filter_wrapper .postion_wrapper */
.position_btn_wrapper.age button {
  border: 1px solid #05CD99;
  background: #05CD99;
  color: white;
  width: 100%;
}

.filter_wrapper1 {
  padding: 40px 40px 40px 40px !important;
  position: absolute;
  border-radius: 11px;
  background: #fff;
  box-shadow: 5px 10px 50px -2px rgba(0, 0, 0, 0.15);
  max-width: 496px;
  width: 100%;
  right: 2.5% !important;
  top: 86%;
}

.css-1jqq78o-placeholder {
  color: #9ca3a9 !important;
  font-family: "SF Pro Display" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*
.filter_blue_btn {
    padding: 11px 0 12px 0;
    border-radius: 5px;
    border: 1px solid #F5F5F5;
    background: #FAFAFA;
    color: #9CA3A9;
    font-family: 'SF Pro Display' sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 132px;
    width: 100%;
} */

.filter_wrapper,
.filter_wrapper1 {
  transition: ease-in-out 0.5s;
}

.filter_btn1 {
  padding: 11px 0 12px 0;
  color: #9ca3a9;
  font-family: "SF Pro Display" sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background: #fafafa;
  max-width: 132px;
  width: 100%;
}

.filter_btn1:hover {
  background-color: #0177fb !important;
  color: #fff;
}

.buttonActive {
  background-color: #0177fb !important;
  color: #fff;
}

.buttons1 {
  margin-bottom: 20px;
}

.filter_wrapper h2,
.filter_wrapper1 h2 {
  color: #141736;
  font-family: "SF Pro Display", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 10px;
}

.css-1u9des2-indicatorSeparator {
  display: none;
}

.css-13cymwt-control {
  height: 40px !important;
}

/* filter_wrapper end */

.back_btn {
  color: #0177fb;
  /* text-align: right; */
  font-family: SF Pro Display;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background: #fff;
  box-shadow: 0px -1px 0px 0px #dfe5f1 inset;
  width: 67px;
  height: 32px;
  border: 1px solid #0177fb;
  border-radius: 7px;
}

.addJob_wrapper .modal-dialog {}

.dialog_modal {
  width: 648px;
}

/* select_design */
.select_design {
  width: 100%;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
  background: #fafafa;
  display: inline-flex;
  padding: 10px 20px 10px 15px;
  align-items: flex-start;
  gap: 288px;
}

.dropdown_menu {
  width: 226px;
  top: 60px;
  left: -80px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 19.4px 0px #D8E1E8;
  padding: 20px 14px;
}

.dropdown_menu ul li:hover {
  background-color: #F4F7FE;
  border-radius: 5px;
}

.dropdown_menu a {
  color: #4C4E52;
}

.dropdown_menu ul li:hover .nonHover_icon {
  display: none;
}

.dropdown_menu ul li:hover a {
  color: #0177fb
}

.dropdown_menu ul li:hover .hover_icon {
  display: block !important;
}

.view_details {
  padding: 15px 40px;
  border-radius: 4px;
  border: 1px solid var(--Border-green, rgba(84, 173, 150, 0.20));
  background: var(--White, #FFF);
  color: var(--Black, #1E2128);
  font-family: "SF Pro Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.32px;
}